<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home | CAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/index.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css">


</head>


<body>

    <div class="none">
        <datalist id="deptList"></datalist>

    </div>


    <div id="main">

        <div class="fas fa-archway">
            <%- global.cfg.app.name %>
            <%- global.cfg.app.version %>
        </div>


        <div class="fas fa-user-graduate">
            Hello
            <%- user.name %>
        </div>


        <div class="fas fa-fingerprint">
            <%- user.usern %>
        </div>


        <div id="last" class="far fa-clock">

        </div>

        <div class="fas fa-code-branch">
            <%- user.dept %>
        </div>
        <div class="fas fa-exchange-alt none">
            <input list="deptList" id="dept_sel" onchange="switchDept(this.value)">
        </div>

        <span class="fas fa-id-card">
            level:
            <%- ({
                    'staff':'common employee',
                    'leader':'branch leader',
                    'boss':'root'
                })[user.level] %>
        </span>



        <div class="fas fa-tag">
            role :
            <%- user.role || "( leader )" %>
        </div>





    </div>



    <script src="/CryptoJS/rollups/sha1.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>